asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
cloudinary==1.39.0
Django==5.0.3
django-appconf==1.0.6
django-ckeditor==6.7.1
django-cleanup==8.1.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-cuser==2017.3.16
django-imagekit==5.0.0
django-js-asset==2.2.0
django-rosetta==0.10.0
django-tinymce==3.7.1
idna==3.6
pilkit==3.0
pillow==10.2.0
polib==1.2.0
python-dotenv==1.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
modeltranslation==0.25